<%- include('../partials/adminPartials/adminHead') -%>

<main>
    <header class="main-header style-2 navbar">
        <div class="col-brand">
        </div>
        <div class="col-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body text-center">
                <h4 class="card-title mb-4">Admin Login</h4>
                <form method="post" action="#">
                    <div class="mb-3">
                        <input class="form-control" name="email" placeholder="email" type="text" />
                    </div>
                    <!-- form-group// -->
                    <div class="mb-3">
                        <input class="form-control" name="password" placeholder="Password" type="password" />
                    </div>
                    <!-- form-group// -->
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <!-- form-group// -->
                </form>
            </div>
        </div>
    </section>

    <%- include('../partials/adminPartials/adminFooter') -%>