
<!-- Add Address Modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addAddressModalLabel">Add new address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Form elements for adding new address -->
            <form id="addAddressForm">
                <div class="form-group">
                    <label for="fullname">Full name</label>
                    <input type="text" class="form-control" name="fullname" id="fullname"
                        placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="number" class="form-control" name="mobile" id="mobile"
                        placeholder="Enter your mobile">
                </div>
                <div class="form-group">
                    <label for="landmark">Landmark</label>
                    <input type="text" class="form-control" name="landmark" id="landmark"
                        placeholder="Enter your landmark">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" id="city" placeholder="Enter your city">
                </div>
                <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="number" class="form-control" name="pincode" id="pincode"
                        placeholder="Enter your pincode">
                </div>
                <div class="form-group">
                    <label for="district">District</label>
                    <input type="text" class="form-control" name="district" id="district"
                        placeholder="Enter your district">
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" name="state" id="state"
                        placeholder="Enter your state">
                </div>
                <button type="submit" class="btn site-btn">Add new address</button>
            </form>
        </div>
    </div>
</div>
</div>

<script>
    const form = document.getElementById('addAddressForm');

    form.addEventListener('submit', async function (event) {
        event.preventDefault();

        const formData = new FormData(form);
        console.log(formData);
        console.log(JSON.stringify(Object.fromEntries(formData)));

        const response = await fetch('/user/add-address', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(Object.fromEntries(formData)),
        })


        try {
            const json = await response.json();
            $('#addAddressModal').modal('hide');

            if (json.success === true) {
                $("#addressList").load(location.href + " #addressList");

                Swal.fire({
                    title: "Address Added",
                    text: "Address has been added successfully",
                    icon: "success",
                });
                window.location.href = window.location.href.split('#')[0] + '#addressList';
                location.reload();


            } else {
                console.error('Error during fetch:', json.error);
            }
        } catch (error) {
            console.error('Error parsing JSON:', error);
        }
    })
</script>