<!-- <section class="font-1">
                            <div class="">
                                <div class="row justify-content-center">

                                    <div class="col-12">
                                        <div class="table"
                                            style="display: flex; flex-direction: column; justify-content: center;">
                                            <table>
                                                <thead>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Brand</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>total</th>

                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img width="100"
                                                                src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSCGOx7FOty7m7TaE8nk3D8eX-aVrKRVxRqR9sKpJ4Pg&s
                                                                alt="">
                                                        </td>
                                                        <td>Shirt</td>
                                                        <td>Louse philip</td>
                                                        <td>3000</td>
                                                        <td>2</td>
                                                        <td>587478</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="order-details">
                                                <p>Order ID: ORD78346</p>
                                                <p>Total Price: 654984</p>
                                                <p>Delivery Address: fullname: Maodjfoasj
                                                    mobile: 93845347
                                                    landmark: jsdfj
                                                </p>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </section> -->