<%- include("../partials/userPartials/header") -%>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Order Confirmation</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Order Confirmation Begin -->
    <section class="order-confiramtion spad">
        <div class="container">

            <div class="row justify-content-between">
                <div class="col-md-5 p-3 m-5 border">
                    <div class="row">
                        <h4>Thank you for your order</h4>
                        <h5>Your order no. is ORD13454</h5>
                    </div>
                    <div class="row">
                        <h4>Thank you for your order</h4>
                        <h5>Your order no. is ORD13454</h5>
                    </div>
                </div>
                <div class="col-md-5 p-3 m-5 border">
                    <h4>Order Summary</h4>
                    <p>Order date: 12/4/2024, Product name: Hoodie, quantity: 4, price: 500, shipping charge: 100</p>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/userPartials/footer') -%>